@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand:   #1a8060;
  --bg:      #f7f7f5;
  --card:    #fff;
  --divider: #f4f4f1;
  --text-primary:   #111;
  --text-secondary: rgba(0, 0, 0, 0.55);
  --text-tertiary:  rgba(0, 0, 0, 0.4);
}

body {
  font-family: 'IBM Plex Sans Thai', 'Sarabun', sans-serif;
  color: var(--text-primary);
  background-color: var(--bg);
}
